<div class='title'>
  <h1>Select a Parking Structure</h1>
</div>

<section class="details-card">
  <div class="container-fluid">
    <% @structures.each do |structure| %>
      <div class="card-content building">
        <div class="building-<%= structure.id %>">
          <div class="card-header">
            <h2 class="card-title text-center">Name: <%= link_to structure.name, structure_path(structure) %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
