<div class='title'>
  <h1>Select a Parking Structure</h1>
</div>

<% @structures.each do |structure| %>
  <div class="building-<%= structure.id %>">
    <h2 class="building">Name: <%= link_to structure.name, structure_path(structure) %></h2>
  </div>
<% end %>
