<div class="building-<%= @structure.id %>">
  <h1 class="building"><%= @structure.name %></h1>
</div>

<img src="http://clipart-library.com/img/1319776.gif">

<h2>Number of Floors: <%= @structure.height %></h2>

<% if admin? %>
  <h3>Total Revenue: <%= number_to_currency(@structure.total_revenue) %></h3>
<% end %>
