<div class="title">
  <h1>Floor <%= @level %></h1>
</div>
<br>
<section class="details-card">
  <% @floor[0].rows.each do |row| %>
    <% row.spots.each do |spot| %>
      <% if spot.vehicle.nil? %>
        ⒳
      <% elsif spot.vehicle.width == 2 %>
        🏍
      <% elsif spot.vehicle.width == 3 %>
        🚗
      <% elsif spot.vehicle.width == 4 %>
        🚌
      <% end %>
    <% end %><br><br>
  <% end %>
</section>
